@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #222020;
}

.main-title {
	margin-bottom: 30px;
	font-size: 92px;
	font-family: ‘Graphik LCG’, sans-serif;
	color: #ffffff;
}

.programm-main-title {
	margin-top: 100px;
	padding-left: 100px;
	font-size: 48px;
	color: #222020;
}

.programm-list {
	padding-left: 200px;
	font-size: 18px;
	color: blue;
}

.programm-p {
	padding-left: 180px;
	margin-bottom: 20px;
}

.programm-title {
	padding-left: 180px;
	margin-top: 100px;
	margin-bottom: 25px;
	font-size: 36px;
	color: #2f1ce4;
}

.programm-img {
	display: inline-block;
	margin: 50px 0;
	padding-left: 200px;
	text-align: center;
}

.programm-table {
	margin-top: 100px;
	border-collapse: collapse;
	border: 1px solid #a0a0a0;
}

.programm-tablecells {
	border: 1px solid #a0a0a0;
	padding: 16px;
}

.table-caption {
	margin-bottom: 40px;
}

.table-foot {
	color: #2f1ce4;
}

.list-text {
	color: #000000;
}

.download-button {
	display: inline-block;
	padding: 20px;
	margin-right: 10px;
	border: 3px #2f1ce4 solid ;
	color: #ffffff;
	background-color: #2f1ce4;
}

.more-button {
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
	border: 3px #ffffff solid ;
	color: #ffffff;
}

.back-button {
	display: flex;
    align-items: center;
}

.back-icon {
	width: 20px;
	margin-right: 12px;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 30px 0;
}
